<div class="container">
  <div class="row text-align-center">
    <h1>Stupid Coach</h1>
  </div>
  <div class="row text-align-center mt-12 flex-wrap:wrap">
    <form action="answer" class = "input-group flex-nowrap"  data-turbo="false">
      <input type="text" class="form-control" placeholder= "What is your question, silly?" name="ask">
      <input type="submit" class = "btn btn-dark"  value="Ask">
    </form>
  </div>
